.btn-line-login {
  border-color: #00b900 !important;
  background-color: #00b900 !important;
}

.btn-line-login:hover {
  border-color: #00b900 !important;
  background-color: #00b900 !important;
  opacity: 0.8;
}

.login-wrapper .login {
  min-height: 100%;
}

:host {
  height: 100%;
  display: flex;
}
