<clr-vertical-nav [clr-nav-level]="1" class="sally-peek">
  <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Charmander</a
  >
  <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Jigglypuff</a
  >
  <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Pikachu</a
  >
  <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Raichu</a
  >
  <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Snorlax</a
  >
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active"
    ><span
      clrVerticalNavIcon
      class="no-flex sally-face-love-sm"
      aria-hidden="true"
    ></span
    >Credit</a
  >
</clr-vertical-nav>
