@media screen and (max-width: 768px) {
  .main-container.open-hamburger-menu .header .header-nav {
    background-image: url(../assets/images/line-corp/sally/sally-peek.webp);
    background-size: 100% ;
    background-position: center
  }
}
