<clr-main-container>
  <clr-alerts>
    <clr-alert
      *ngFor="let alert of alertService.getAlerts() | async"
      [clrAlertType]="alert.type"
      [clrAlertAppLevel]="true"
      (clrAlertClosedChange)="onAlertClose(alert)"
    >
      <clr-alert-item>
        <span class="alert-text">{{ alert.text }}</span>
        <div *ngIf="alert.action !== undefined" class="alert-actions">
          <button
            class="btn alert-action"
            (click)="alert.action.click(alert.action.obj)"
          >
            {{ alert.action.text }}
          </button>
        </div>
      </clr-alert-item>
    </clr-alert>
  </clr-alerts>
  <clr-header class="header-1">
    <div class="branding">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <span class="sally-face-brush-sm"></span>
        <span class="line-word-logo"></span>
        <span class="title">{{ environment.appTitle }}</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        class="nav-link nav-text"
        >Dashboard</a
      >
      <a
        [routerLink]="['/guide']"
        routerLinkActive="active"
        class="nav-link nav-text"
        >Guide</a
      >
    </div>

    <div class="header-actions">
      <ng-container
        *ngIf="{ oAuth2User: authService.getOauth2User() | async } as data"
      >
        <ng-container
          [ngTemplateOutlet]="data.oAuth2User !== null ? loggedIn : loggedOut"
          [ngTemplateOutletContext]="{ user: data.oAuth2User }"
        >
        </ng-container>

        <ng-template #loggedIn let-user="user">
          <clr-dropdown>
            <button
              class="nav-text"
              clrDropdownTrigger
              aria-label="open user profile"
            >
              {{ user.displayName }}
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a routerLink="/" routerLinkActive="active" clrDropdownItem
                >Preferences</a
              >
              <a clrDropdownItem (click)="authService.logout(false)"
                ><span class="sally-face-sad-sm"></span>Log out</a
              >
            </clr-dropdown-menu>
          </clr-dropdown>
        </ng-template>
        <ng-template #loggedOut>
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="nav-link nav-text"
            ><span class="line-word-logo"></span>Log In</a
          >
        </ng-template>
      </ng-container>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>

<div *ngIf="spinnerService.isLoading() | async" class="modal-backdrop">
  <div class="centered-content-area">
    <div class="spinner">Loading...</div>
  </div>
</div>
