.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.line-logo {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background: url(../assets/images/line-corp/btn_base.png) no-repeat
    center;
  background-size: 130%;
}

.line-word-logo {
  width: 60px;
  height: 20px;
  margin-left: 4px;
  margin-right: 2px;
  background: url(../assets/images/line-corp/line-logo.png) no-repeat center;
  background-size: 100%;
}

.sally-face {
  height: 100%;
  width: 100%;
  background: url(../assets/images/line-corp/sally/sally-face.png) repeat center;
}

.sally-face-sm {
  height: 50px;
  width: 50px;
  background: url(../assets/images/line-corp/sally/sally-face-sm.webp) no-repeat
    center;
  background-size: 100%;
}

.sally-face-question-sm {
  height: 50px;
  width: 50px;
  background: url(../assets/images/line-corp/sally/sally-face-question-sm.png) no-repeat
    center;
  background-size: 100%;
}

.sally-face-eat-sm {
  height: 50px;
  width: 50px;
  background: url(../assets/images/line-corp/sally/sally-face-eat-sm.png) no-repeat
    center;
  background-size: 100%;
}

.sally-face-love-sm {
  height: 50px;
  width: 50px;
  background: url(../assets/images/line-corp/sally/sally-face-love-sm.png) no-repeat
    center;
  background-size: 100%;
}

.sally-face-sad-sm {
  height: 50px;
  width: 50px;
  background: url(../assets/images/line-corp/sally/sally-face-sad-sm.png) no-repeat
    center;
  background-size: 100%;
}

.sally-brush {
  background: url(../assets/images/line-corp/sally/sally-brush.webp) no-repeat
    center;
  background-size: 180%;
}

.sally-peek {
  background: url(../assets/images/line-corp/sally/sally-peek.jpg) repeat center;
  background-size: 180%;
  background-position-y: top;
}

.sally-hello {
  width: 100%;
  height: 100%;
  background: url(../assets/images/line-corp/sally/sally-hello.png);
  background-size: cover;
}

.sally-brush:hover {
  opacity: 0.8;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  padding: 0 0 0 0;
  background: inherit;
  height: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.toolbar #linkedin-logo:hover {
  opacity: 0.8;
}
