<div class="guide-container">
  <div class="guide-content-area">
    <section id="top">
      <h1><b>新三國志手機版</b></h1>
      <h4>
        <b>
          <ng-container [ngTemplateOutlet]="lineChickTemplate"></ng-container
          >大家好！S39-S40 的專屬小月在這裏教你一些簡單的指令。<ng-container
            [ngTemplateOutlet]="sallyFaceLoveTemplate"
            [ngTemplateOutletContext]="{ $implicit: [0] }"
          ></ng-container>
        </b>
      </h4>
    </section>

    <section id="xiaoyue">
      <div class="card">
        <div class="card-block">
          <h1 class="card-title"><b>呼叫小月</b></h1>
          <p class="card-text">在個人或群組裏，請輸入 <b>’小月‘</b></p>
        </div>
        <div class="card-block">
          <div class="card-img">
            <img
              class="max-width"
              src="../../../assets/images/bbg-sangokushi/xiaoyue.jpg"
            />
          </div>
        </div>
        <div class="card-block">
          <p class="card-text">
            然後在以上的指令中，選擇和輸入你要的資訊。例如：大殿等級
          </p>
        </div>
      </div>
    </section>

    <section id="dadian">
      <div class="card">
        <div class="card-block">
          <h1 id="dadian" class="card-title"><b>大殿等級</b></h1>
        </div>
        <div class="card-img">
          <img src="../../../assets/images/bbg-sangokushi/dd.png" />
        </div>
        <div class="card-block">
          <p class="card-text">
            請輸入需要升級的大殿等級， 如大殿50或dd50
            51-60請打「大殿金礦」或dd51
          </p>
        </div>
        <div class="card-img">
          <img src="../../../assets/images/bbg-sangokushi/dd51.png" />
        </div>
      </div>
    </section>

    <section id="secret">
      <div class="card card-block">
        <h1 class="card-title"><b>隱藏功能</b></h1>
        <p class="card-text">
          <ng-container [ngTemplateOutlet]="lineChickTemplate"></ng-container
          >小月還有一些隱藏的功能，就等你們慢慢去發掘了。。。
        </p>
        <p>
          <ng-container [ngTemplateOutlet]="lineChickTemplate"></ng-container
          >如果有興趣要加入小月的管理員，請聯絡 <b>@lohgyn</b> 或者
          <b>彭寒劍（五皇團員）</b>，來幫忙更新游戲質詢。。。<ng-container
            [ngTemplateOutlet]="sallyFaceLoveTemplate"
            [ngTemplateOutletContext]="{ $implicit: [0, 1, 2] }"
          ></ng-container>
        </p>
      </div>
    </section>
  </div>
  <div class="guide-nav">
    <clr-vertical-nav class="guide-nav-container">
      <a
        clrVerticalNavLink
        href="/guide/sanguogushi#top"
        [ngClass]="{ active: isActiveFragment('top') }"
        (click)="setActiveFragment('top')"
        >新三國志手機版</a
      >

      <a
        clrVerticalNavLink
        href="/guide/sanguogushi#xiaoyue"
        [ngClass]="{ active: isActiveFragment('xiaoyue') }"
        (click)="setActiveFragment('xiaoyue')"
        >呼叫小月</a
      >
      <a
        clrVerticalNavLink
        href="/guide/sanguogushi#dadian"
        [ngClass]="{ active: isActiveFragment('dadian') }"
        (click)="setActiveFragment('dadian')"
        >大殿等級</a
      >
      <a
        clrVerticalNavLink
        href="/guide/sanguogushi#secret"
        [ngClass]="{ active: isActiveFragment('secret') }"
        (click)="setActiveFragment('secret')"
        >隱藏功能</a
      >
    </clr-vertical-nav>

    <clr-tabs class="guide-tab-container">
      <clr-tab>
        <a href="/guide/sanguogushi#top" clrTabLink>新三國志手機版</a>
      </clr-tab>
      <clr-tab>
        <a
          href="/guide/sanguogushi#xiaoyue"
          clrTabLink
          [clrTabLinkInOverflow]="true"
          >呼叫小月</a
        >
      </clr-tab>
      <clr-tab>
        <a
          href="/guide/sanguogushi#dadian"
          clrTabLink
          [clrTabLinkInOverflow]="true"
          >大殿等級</a
        >
      </clr-tab>

      <clr-tab>
        <a
          href="/guide/sanguogushi#secret"
          clrTabLink
          [clrTabLinkInOverflow]="true"
          >隱藏功能</a
        >
      </clr-tab>
    </clr-tabs>
  </div>

  <ng-template #lineChickTemplate>
    <img
      src="{{ lineChickDataUri }}"
      alt="(chick)"
      width="28"
      height="24"
      data-emoji="chick"
      class="vertical-align-top"
    />
  </ng-template>

  <ng-template #sallyFaceLoveTemplate let-items>
    <span
      *ngFor="let item of items"
      class="no-flex sally-face-love-sm inline-block vertical-align-top"
      aria-hidden="true"
    ></span>
  </ng-template>
</div>
