<div class="content-container">
  <div class="content-area">
    <div class="pie-chart-area">
      <app-pie-chart
        [view]="pieChartView"
        [title]="pieChartTitle"
        [data]="pieChartData"
        [ready]="pieChartReady"
        [explodeSlices]="false"
        [trimLabels]="false"
        [legendTitle]="''"
      ></app-pie-chart>
    </div>

    <div class="pie-chart-info">
      <p *ngFor="let item of pieChartData">{{ item.name }}: {{ item.value }}</p>
    </div>

    <div class="pie-chart-footer">
      <ng-container
        *ngIf="{ oAuth2User: authService.getOauth2User() | async } as data"
      >
        <ng-container
          *ngIf="
            data.oAuth2User !== null && data.oAuth2User.friend;
            then isFriend;
            else isNotFriend
          "
        >
        </ng-container>

        <ng-template #isFriend>
          <a
            href="https://lin.ee/uwocKqR"
            aria-label="Friended"
            role="tooltip"
            aria-haspopup="true"
            class="btn btn-line tooltip tooltip-md"
          >
            <clr-icon shape="check" size="24"></clr-icon>
            Friended
            <span class="tooltip-content"
              >{{ environment.appTitle }} is already your friend. Chat with me
              now!</span
            >
          </a></ng-template
        >
        <ng-template #isNotFriend>
          <a
            href="https://lin.ee/uwocKqR"
            aria-label="Add Friend"
            role="tooltip"
            aria-haspopup="true"
            class="btn btn-line tooltip tooltip-md"
          >
            <span class="line-logo"></span>
            Add Friend
            <span class="tooltip-content"
              >Add {{ environment.appTitle }} as friend</span
            ></a
          ></ng-template
        >

        <span class="label label-info">{{ friends }}</span>
      </ng-container>
    </div>
  </div>
</div>
